.container {
    z-index: 10;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.527);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.729);
    width: 700px;
    height: 900px;
    border-radius: 10px;
}

.modal {
    position: relative;
    color: white;
    background-color: white;
    width: 700px;
    height: 900px;
    z-index: 10;
    border-radius: 10px;
    border: goldenrod solid 2px;
    background-size:cover;
}

.content {
    padding: 15px 15px;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 40px;
    width: 700px;
    height: 800px;
}

.title {
    font-size: 50px;
    font-weight: 700;
    width: 700px;
}

.stack {
    width: fit-content;
    gap: 30px;
    height: 50px;
    background-color: #9e9e9ec8;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 3px goldenrod dashed;
    border-radius: 10px;
    align-self: center;
    justify-content: center;
}

.logo {
    width: 40px;
    height: 40px;
}