.app {
  width: 100%;
  flex-grow: 1;
}

.container {
    display: flex;
    justify-content: center;
}

#contacts {
  min-height: 100px;
}

.content {
    border-radius: 10px;
    margin-top: 50px;
    width: 72%;
    border-left: 2px goldenrod solid;
    border-right: 2px goldenrod solid;
    background: rgb(24,27,40);
    background: linear-gradient(180deg, rgba(24,27,40,1) 25%, rgba(124,116,93,1) 100%);
}

.enter-animation {
  opacity: 0;
  transform: translateY(-20px);
  animation-name: enter;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes enter {
  from {
    opacity: 0;
    letter-spacing: 20px;
  }
  to {
    opacity: 1;
    letter-spacing: 0px;
  }
}